VITE_SUPABASE_URL="https://zhxajqfwzevtrazipwlg.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpoeGFqcWZ3emV2dHJhemlwd2xnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzY4NjkyNDksImV4cCI6MjA1MjQ0NTI0OX0.6d3DLGKAI02AQIhgSTA4Knd3f_YF-Dp4RpGcu19NyaQ"
VITE_MAPBOX_TOKEN="pk.eyJ1IjoiaGF5ZWsyOSIsImEiOiJjbWFlaWE4aTYwMHFjMmpzMzhxbGhiNG9wIn0.9p3d1MoBwalUlgd2Gv7xzQ"